.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-group {
    height: 100vh;
}

.overlay {
    z-index: 9999;
    text-align: center;
}

.header-group h1 {
    color: #fff;
    font-size: 2.5rem !important;
}