.pf-m-gutter .personas-layout {
  --pf-l-stack--m-gutter--MarginBottom: var(--pf-global--spacer--2xl);
}

.pf-c-toggle-group__item .pf-c-toggle-group__button,
.pf-c-toggle-group__item .pf-c-toggle-group__button::before {
  border-radius: var(--pf-global--BorderRadius--sm) !important;
}

.pf-c-toggle-group__item + .pf-c-toggle-group__item {
  margin-left: 1rem !important;
}
