.navbar-root {
    position: sticky !important;
    top: 0;
    z-index: 9999;
}

.transparent {
    background-color: transparent !important; 
  }

.navbar-links {
    width: 100%;
    align-items: center;
}

.navbar-links a {
    color: var(--pf-global--palette--white) !important;
}