{% if site.data.docs_toc.toc[0] %}
  {% for item in site.data.docs_toc.toc %}
    {% if item.phony != true and page.url == item.url %}
      <h4 class="docs-nav-item active">
    {% else %}
      <h4 class="docs-nav-item">
    {% endif %}
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      </h4>

    {% if item.children[0] %}
      {% for child in item.children %}
        {% if child.phony != true and page.url == child.url %}
          <h5 class="docs-nav-sub-item active">
        {% else %}
          <h5 class="docs-nav-sub-item">
        {% endif %}
            <a href="{{ site.baseurl }}{{ child.url }}">
                {{ child.title }}
            </a>
          </h5>

        {% if child.children[0] %}
         {% for grandchild in child.children %}
            {% if grandchild.phony != true and page.url == grandchild.url %}
              <h6 class="docs-nav-sub3-item active">
            {% else %}
              <h6 class="docs-nav-sub3-item">
            {% endif %}
                <a href="{{ site.baseurl }}{{ grandchild.url }}">
                    {{ grandchild.title }}
                </a>
              </h6>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
