<script src="{{ site.baseurl }}/assets/js/threejs/three.min.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/threejs/WebGL.js"></script>
<script type="x-shader/x-vertex" id="vertexshader">
    attribute float scale;
    void main() {
        vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
        gl_PointSize = scale * ( 75.0 / - mvPosition.z );
        gl_Position = projectionMatrix * mvPosition;
    }
</script>
<script type="x-shader/x-fragment" id="fragmentshader">
    uniform vec3 color;
    void main() {
        if ( length( gl_PointCoord - vec2( 0.5, 0.5 ) ) > 0.475 ) discard;
        gl_FragColor = vec4( color, 1.0 );
    }
</script>
<script defer src="{{ site.baseurl }}/assets/js/waves.js"></script>
