@import url('https://fonts.googleapis.com/css?family=Overpass|');


$datahub-primary-color: #a385f0;

$navbar-background-color: #0E0E0E;
$navbar-text-color: white;
$jumbotron-background-color: #0a5c86;
$jumbotron-font-color: white;

$navbar-height: 5em;
$footer-height: 2em;

$button-color-default: #0E0E0E;
$button-color-primary: #5075FF;

