@import '~@patternfly/react-core/dist/styles/base.css';
@import "@patternfly/patternfly/patternfly-addons.css";;


:root {
    --pf-global--primary-color--100: #5075ff;
    --pf-global--primary-color--200: #2b6af3;
    --pf-global--primary-color--light-100: #819BFF;
    --pf-global--primary-color--dark-100: #5075ff;
    
    --pf-global--BorderRadius--sm: 10px;
};

.pf-c-page {
    --pf-c-page--section--m-limit-width--MaxWidth: 55rem !important;
    --pf-c-page__main-section--BackgroundColor: #fff;
    --pf-c-page--BackgroundColor: #fff;
}

.pf-c-toggle-group {
    --pf-c-toggle-group__button--m-selected--BackgroundColor: #e2e8ff !important;
}

.pf-c-title {
    --pf-c-title--m-4xl--FontWeight: var(--pf-global--FontWeight--bold);
    --pf-c-title--m-3xl--FontWeight: var(--pf-global--FontWeight--bold);
    --pf-c-title--m-2xl--FontWeight: var(--pf-global--FontWeight--bold);
    --pf-c-title--m-xl--FontWeight: var(--pf-global--FontWeight--bold);
    --pf-c-title--m-lg--FontWeight: var(--pf-global--FontWeight--bold);
    --pf-c-title--m-md--FontWeight: var(--pf-global--FontWeight--bold);
}

.strong-text {
    font-weight: var(--pf-global--FontWeight--bold);
    color: var(--pf-global--primary-color--200);
}

.rounded {
    border-radius: var(--pf-global--BorderRadius--sm);
}