---
---

@import "variables";

@media (max-width: 992px) {
  .arch nav.sidebar {
    display: none;
  }
}


@media (min-width: 992px) {
  body {
    margin-bottom: 0;
  }

  nav.sidebar {
    grid-area: nav;
    padding: 4rem 1rem 4rem 1rem;
  }

  main.main-content {
    grid-area: main;
  }

  footer.footer {
    grid-area: footer;
    position: static;
  }

  .arch.arch-container {
    display: grid;
    grid-gap: 0;
    grid-template-areas: "nav" "main" "footer";
    height: calc(100vh - 5rem);
    grid-template:
            "nav main"      1fr
            "footer footer" 3rem
                / 20rem 1fr;

  }
}

.arch {
  .main-content {
    padding: 0 2rem 4rem 2rem;
    overflow-y: auto;

    h2::before,
    h3::before,
    h4::before {
      display: block;
      content: "";
      margin-top: - 2rem;
      height: 2rem;
      visibility: hidden;
      pointer-events: none;
    }

    h2 {
      margin-bottom: 2rem;

      a {
        color: $text-color;
      }
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 2rem;
    }

    img {
      max-width: 100%;
    }
  }

  .sidebar {
    overflow-y: auto;

    .arch-nav-item a {
      color: #1e1e1e;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    .arch-nav-sub-item a {
      color: #1e1e1e;
      font-weight: 400;
      padding-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1rem;
    }

    .arch-nav-sub3-item a {
      color: #1e1e1e;
      font-weight: 400;
      padding-left: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: .85rem;
      line-height: .85rem;
    }

    .arch-nav-item.active a,
    .arch-nav-sub-item.active a,
    .arch-nav-sub3-item.active a {
      color: #298CFF;
    }
  }
}

