---
---

@import "variables";

.blog-post {
  .blog-post-header {
    margin-bottom: 2rem;
  }

  .blog-post-content {
    margin-bottom: 2em;

    h1 {
      margin-top: 4rem;
    }

    h2 {
      margin-top: 3rem;
    }

    h3 {
      margin-top: 2rem;
    }
  }

  h2::before,
  h3::before,
  h4::before {
    display: block;
    content: "";
    margin-top: - 100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
  }

  img {
    display: block;
  }
}
