---
---

@import "variables";

.community {
  margin-bottom: 10rem;
    .community-section {
      margin-bottom: 6rem;

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 100%;
        max-width: 600px;
        box-shadow: 0.4rem 0.4rem 0.5em #F2F2F2;
      }

      .community-calendar {
        border: 0;
        width: 100%;
        max-width: 600px;
        height:400px;
      }
    }


}