---
---

@import "variables";

@media (max-width: 992px) {
  .docs nav.sidebar {
    display: none;
  }
}

@media (min-width: 992px) {
  body {
    margin-bottom: 0;
  }

  nav.sidebar {
    grid-area: nav;
    padding: 4rem 1rem 4rem 1rem;
  }

  main.main-content {
    grid-area: main;
  }

  footer.footer {
    grid-area: footer;
    position: static;
  }

  .docs.docs-container {
    display: grid;
    grid-gap: 0;
    grid-template-areas: "nav" "main" "footer";
    height: calc(100vh - 5rem);
    grid-template:
            "nav main"      1fr
            "footer footer" 3rem
                / 20rem 1fr;

  }
}

.docs {
  .main-content {
    padding: 0 2rem 4rem 2rem;
    overflow-y: auto;

    .docs-article {

      max-width: 1100px;

      h2::before,
      h3::before,
      h4::before {
        display: block;
        content: "";
        margin-top: - 2rem;
        height: 2rem;
        visibility: hidden;
        pointer-events: none;
      }

      h2, h3, h4 {
        margin-top: 2em;
        margin-bottom: 1em;
      }

      h2 {
        a {
          color: $text-color;
        }
      }

      li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      img {
        display: block;
        width: 100%;
        max-width: 1000px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      img.img-auto {
        width:auto;
        max-width: 100%;
      }

      .next-link {
        margin-top: 3rem;
      }

      &.quick-installation,
      &.basic-tutorial,
      &.ai-library,
      &.kubeflow,
      &.optional {
        ol > li {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        > ol > li {
          margin-bottom: 3rem;
        }
      }

      &.future-roadmap {
        img.img-roadmap {
          max-width: 932px;
        }
      }

      &.release-notes {
        .table th {
          color: #495057;
          background-color: #e9ecef;
          border-color: #dee2e6;
        }
      }
    }
  }

  .sidebar {
    overflow-y: auto;

    .docs-nav-item a {
      color: #1e1e1e;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    .docs-nav-sub-item a {
      color: #1e1e1e;
      font-weight: 400;
      padding-left: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1rem;
    }

    .docs-nav-sub3-item a {
      color: #1e1e1e;
      font-weight: 400;
      padding-left: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: .85rem;
      line-height: .85rem;
    }

    .docs-nav-item.active a,
    .docs-nav-sub-item.active a,
    .docs-nav-sub3-item.active a {
      color: #298CFF;
    }
  }
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #e9ecef;
  top: 0;
  bottom: 0;
  left: 28px;
  margin-left: -3px;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 0 auto;
    padding: 0;

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 49%;
  }

  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    margin-top: 20px;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the right container (pointing left) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 38px;
    width: 0;
    z-index: 1;
    left: 60px;
    border: medium solid #f1f1f1;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f1f1f1 transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 5px 30px;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 10px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .container .content {
    h4 {
      padding: 10px 0;
      margin: 10px 0;
      float: left;
      left: 30px;
    }

    dt {
      margin-top: 5px;
      padding-top: 5px;
      //border-top: 1px solid white;
    }

    .roadmap-task {
      background-color: white;
      padding: 5px 5px 5px 10px;
      margin: 5px 0;
      border-radius: 10px;
    }

    .roadmap-task-content {
      float: left;
      width: 80%;
    }

    .btn-dark {
      margin: 5px 5px;
    }

    .roadmap-issues {
      text-align: right;
      margin: 10px;
    }

    .clear {
      content: ' ';
      //height: 60px;
      clear: both;
    }

  }
}
