---
---

@import "variables";

.home {
  .jumbotron {
    background-color: $navbar-background-color;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 8rem;

    div {
      text-align: center;
    }

    div.image-container img {
      max-width: 15rem;
    }

    div.button-container {
      display: flex;
      justify-content: center;
      padding-top: 2rem;
    }

    color: $jumbotron-font-color;

    div.particles {
      height: 20rem;
    }
  }

  .dh-info {
    text-align: center;
    line-height: 2.5rem;
  }

  .dh-info, .dh-more-info {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .dh-info-section {
    margin-bottom: 3rem;
  }

  .dh-info-img-container {
    text-align: center;
  }

  h2 {
    margin-bottom: 1.2rem;
  }
}
