.icon {
  overflow: hidden;
  height: 80px;
}

.max-width-900 {
  max-width: 900px;
}

iframe {
  width: 100%;
  height: 12rem;
}

.inline-link-underline {
  text-decoration: underline;
  color: var(--pf-global--Color--100) !important;
}
